.gaming-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.gaming-chair p {
    text-align: justify;
}

/* products container */
.customer-review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}